.chat  {
  max-width: 400px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:relative ;
  .form {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #3F51B5;
    color: cornsilk;
    .inputField {
      margin: 10px 0;
      display: block;
      padding: 10px;
      font-size: 20px;
      border-radius: 5px;
      outline-color: #3F51B5;

      &:focus {
        background: #fff;
        outline-color: cornsilk;
      }
    }
    button {
      margin: 10px;
      background: #d51818;
      color:#fff;
    }
  }

}
